.results-table {
  background-color:#ECECEC;
  height:500px;
}

.result-offer .result{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
  padding-left:0px;
  padding-right:0px;

  background-color:#F5D061;
}

.price {
  background-color:#E6AF2E;
  color:#282F44;
  padding:25px;
  text-align:center;
}

.price .sum H1 {
  font-weight:700;
}

.details {
  color:#282F44;
  padding:25px;
}

.details h4 {
  font-weight:500;
}

ul.properties li{
  float:left;
  padding:5px 15px;
  margin-right:15px;
  background-color:#ECECEC;
}

.take-offer {
  background-color:#282F44;
  color:#E6AF2E;
  padding:25px;
}

.take-offer h4{
  font-weight:500;
}
//, .result-offer .details, .result-offer .take-offer
