@import "../../../../../../../styles";

.icon-for-service {
 height:100px;
  margin:0 auto;
}

.icon-for-service-mobile {
  background: url("../../../../../../../assets\\images\\Phone-Blue.png") no-repeat center top;
  background-size: auto 100%;
}

.icon-for-service-net {
  background: url("../../../../../../../assets\\images\\Net-Blue.png") no-repeat center top;
  background-size: auto 100%;
}

.icon-for-service-tv {
  background: url("../../../../../../../assets\\images\\TV-Blue.png") no-repeat center top;
  background-size: auto 100%;
}

.icon-for-service-gas {
  background: url("../../../../../../../assets\\images\\Gas-Blue.png") no-repeat center top;
  background-size: auto 100%;
}

.icon-for-service-energy {
  background: url("../../../../../../../assets\\images\\Energy-Blue.png") no-repeat center top;
  background-size: auto 100%;
}
.icon-for-service-mobile:hover {
  background: url("../../../../../../../assets\\images\\Phone-Yellow.png") no-repeat center top;
  background-size: auto 100%;
}

.icon-for-service-net:hover {
  background: url("../../../../../../../assets\\images\\Net-Yellow.png") no-repeat center top;
  background-size: auto 100%;
}

.icon-for-service-tv:hover {
  background: url("../../../../../../../assets\\images\\TV-Yellow.png") no-repeat center top;
  background-size: auto 100%;
}

.icon-for-service-gas:hover {
  background: url("../../../../../../../assets\\images\\Gas-Yellow.png") no-repeat center top;
  background-size: auto 100%;
}

.icon-for-service-energy:hover {
  background: url("../../../../../../../assets\\images\\Energy-Yellow.png") no-repeat center top;
  background-size: auto 100%;
}

.active.icon-for-service-mobile {
  background: url("../../../../../../../assets\\images\\Phone-Yellow.png") no-repeat center top;
  background-size: auto 100%;
}

.active.icon-for-service-net {
  background: url("../../../../../../../assets\\images\\Net-Yellow.png") no-repeat center top;
  background-size: auto 100%;
}

.active.icon-for-service-tv {
  background: url("../../../../../../../assets\\images\\TV-Yellow.png") no-repeat center top;
  background-size: auto 100%;
}

.active.icon-for-service-gas {
  background: url("../../../../../../../assets\\images\\Gas-Yellow.png") no-repeat center top;
  background-size: auto 100%;
}

.active.icon-for-service-energy {
  background: url("../../../../../../../assets\\images\\Energy-Yellow.png") no-repeat center top;
  background-size: auto 100%;
}


.service {
  text-align:center;
  font-weight:500;
  color:$cuipasa-blue;
}

.row {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
