.header-image {
  padding-left:0px;
  padding-right:0px;
}


.titles {
  position: absolute;
  top: 100px;
  right:50px;
  color:white;

}

.titles h1  {
  letter-spacing: 20px;
}

.calltoaction {
  position: absolute;
  top: 300px;
  right:50px;
}
.calltoaction button {
  background-color:#E6AF2E !important;
}
