<!--<img src="assets\images\header-image.jpg" class="col-12 header-image">-->
<div class="titles">
  <div class="row">
    <div class="col-xl-7 col-lg-7 col-md-8 col-sm-10 offset-xl-5 offset-lg-5 offset-md-4 offset-sm-2">
      <h1>BE MORE PRESENT</h1>
      <h4>BE MORE AWARE. Let us help you spend your money wisely.</h4>
    </div>
  </div>


  <div class="row calltoaction">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-7 col-xs-7 offset-xl-8 offset-lg-8 offset-md-8 offset-sm-4 offset-xs-4">
      <button type="button" class="btn btn-primary waves-effect">Help me with that!</button>
    </div>
  </div>

</div>
