.header-image {
  padding-left:0px;
  padding-right:0px;
}


.titles {
  color:white;
  height:350px;
  background: url("../../../../../assets/images/header-image-new-compressed.jpg") no-repeat center;
  background-size: 100%;

}

.titles h1  {
  letter-spacing: 20px;
  margin-top: 20px;
}

.calltoaction {
  margin-top:30px;
}

.calltoaction button {
  background-color:#E6AF2E !important;
  width:100%;
}

.row {

}
