<div class="container-fluid footer">
  <div class="row">
    <div class="col first">
      <img class="logo-X-footer" src="assets/images/LogoGator_BlueYellow.png">
    </div>
    <div class="col sep second">
      <p>&copy; Copyrights Team #cuipasa 2017 </p><br>
      <h5>Cristi Vîjdea</h5>
      <h5>Aida Denisa Opîrlesc</h5>
      <h5>Denis Troncotă</h5>
      <h5>Andreea Gavrilescu</h5>
      <h5>Robert Colca</h5>
    </div>
    <div class="col sep third">
      <img class="logo-X-footer" src="assets/images/hacktm.png">
    </div>
  </div>
</div>
