<div class="container">
  <div class="row">
    <div class="col-12 texts">

        <h3>Contact</h3>

        <p>If you want to know more about our service or you need help or simply say Hello just leave us a message.</p>

        <h6> Leave us a message</h6>


        <div class="md-form">
          <i class="fa fa-user prefix"></i>
          <input type="text" id="form2" class="form-control">
          <label for="form2">Nume: </label>
        </div>

        <br>
        <div class="md-form">
          <i class="fa fa-envelope prefix"></i>
          <input type="text" id="form2" class="form-control">
          <label for="form2">E-mail: </label>
        </div>

        <div class="md-form">
          <textarea id="textarea1" class="md-textarea" length="120"></textarea>
          <label for="textarea1">Type your text</label>
        </div>
        <div>
          <button class="btn btn-cuipasa waves-effect" >Submit</button>
        </div>




    </div>
  </div>
</div>
