<div class="row">
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div *ngFor="let characteristic of characteristics">
      <div class="cuipasa-checkbox" (click)="toggleCharacteristic(characteristic)">
        <i class="fa"
           aria-hidden="true"
           [ngClass]="{'fa-check-square-o': characteristic.selected, 'fa-square-o': !characteristic.selected}"
        ></i> {{characteristic.alias}}
      </div>
    </div>
  </div>
  <div class="col">
    <div *ngFor="let characteristic of characteristics;">
      <div *ngIf="characteristic.selected">

        {{characteristic.alias}}<span *ngIf="characteristic.values && characteristic.values.length == 2">: de la {{characteristic.values[0]}} la {{characteristic.values[1]}} {{characteristic.mu}} </span>
        
        <div class="slider" [ngClass]="'slider-'+characteristic.id"></div>

      </div>
    </div>
  </div>
</div>
