<div class="row characteristics-box">
  <div class="col-12 characteristics">
    <div *ngFor="let characteristic of characteristics" class="col-3 col-sm-12 col-md-3 ">
      <div class="cuipasa-checkbox" (click)="toggleCharacteristic(characteristic)">
        <i class="fa"
           aria-hidden="true"
           [ngClass]="{'fa-check-square-o': characteristic.selected, 'fa-square-o': !characteristic.selected}"
        ></i> {{characteristic.name}}
      </div>
    </div>
  </div>
</div>
<div class="row values">
  <div *ngFor="let characteristic of characteristics;" class="col-lg-6 col-md-6 col-sm-12" [hidden]="!characteristic.selected">
    <div *ngIf="characteristic.selected">

      {{characteristic.name}}<span *ngIf="characteristic.values && characteristic.values.length == 2">: de la {{characteristic.values[0]}} la {{characteristic.values[1]}} {{characteristic.mu}} </span>

      <div class="slider" [ngClass]="'slider-'+characteristic.alias"></div>

    </div>
  </div>
</div>
<!--</div>-->
