@import "../../../../../styles";

.services  {
  margin-top: 30px;
}

.step {
  text-transform: uppercase;
  font-color:$cuipasa-blue;
  border-bottom: 1px solid $cuipasa-yellow;
}

.characteristics {
  margin-top: 40px;
}

