<div class="container">

</div>
<div class="container services">
  <div class="row">
    <div class="col-12">
      <p class="step">1. Alege tipul de serviciul dorit:</p>
    </div>
  </div>
  <app-service-selector (selectedServiceChanged)="selectedServiceChanged($event)"></app-service-selector>
</div>

<div class="container characteristics">
  <div class="row">
    <div class="col-12">
      <p class="step">2. Filtrează după caracteristici</p>
    </div>
  </div>
  <app-characteristics [service]="service" (done)="filtersUpdated($event)"></app-characteristics>
</div>


