/* You can add global styles to this file, and also import other style files */


$cuipasa-yellow: #E6AF2E;
$cuipasa-yellow-light: #F5D061;
$cuipasa-blue: #282F44;
$cuipasa-grey: #ECECEC;

.btn.btn-cuipasa {
  background: $cuipasa-yellow;
  border: 2px solid transparent;
}

.btn.btn-outline-cuipasa {
  border: 2px solid $cuipasa-blue;
  background: transparent;
  color: $cuipasa-blue !important;
}

.cuipasa-checkbox {
  padding: 5px 10px;
  cursor: pointer;
  user-select: none;
  .fa {
    //margin-top: 3px;
  }
}

.fa-square-o {
  padding-right: 2.5px;
}

.vertical-middle-aligned {
  display: flex;
  flex-direction: row;
  align-items: center;
}
