@import "../../../../../../../styles";

:host:not(:last-child) {
  margin-bottom: 15px;
}

.result {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;

  background-color: $cuipasa-yellow-light;
}

.price {
  background-color: #E6AF2E;
  color: $cuipasa-blue;
  padding: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.price .sum H1 {
  font-weight: 700;
}

.details {
  color: $cuipasa-blue;
  padding: 25px;
}

.details h4 {
  font-weight: 500;
}

ul.properties li {
  float: left;
  padding: 5px 15px;
  margin-right: 15px;
  margin-top: 15px;
  background-color: $cuipasa-grey;
}

.take-offer {
  background-color: $cuipasa-blue;
  color: $cuipasa-yellow;
  padding: 25px;
}

.take-offer h4 {
  font-weight: 500;
}

.nav-tabs .nav-item a.nav-link {
  color: $cuipasa-grey;
}

.nav-tabs .nav-item a.nav-link.active {
  color: #616161;
}

ul.nav-tabs {
  display:flex;
  justify-content:space-between;
  background-color:$cuipasa-yellow!important;
}

.md-form .prefix.active {
  color:$cuipasa-yellow!important;
}

.md-form label.active {
  color:$cuipasa-yellow!important;
}

.form-control:focus {
  border-color:$cuipasa-yellow!important;
  box-shadow: none !important;
}

.btn-cuipasa-grey, .btn-cuipasa-grey i {
  background-color: $cuipasa-grey!important ;
  color:#616161!important ;
}
//
//#tabContent {
//  background-color:$cuipasa-yellow!important;
//}
//.modal-button {
//  width:100px;
//}
//, .result-offer .details, .result-offer .take-offer
