.main-navbar {
  background-color: #E6AF2E !important;
}
#collapseEx12 {
  width:auto;
}

.container {
  justify-content: space-between;
}

@import "../../../styles";
.nav-tabs .nav-item a.nav-link {
  color: $cuipasa-grey;
}

.nav-tabs .nav-item a.nav-link.active {
  color: #616161;
}

ul.nav-tabs {
  display:flex;
  justify-content:space-between;
  background-color:$cuipasa-yellow!important;
}

.md-form .prefix.active {
  color:$cuipasa-yellow!important;
}

.md-form label.active {
  color:$cuipasa-yellow!important;
}

.form-control:focus {
  border-color:$cuipasa-yellow!important;
  box-shadow: none !important;
}

.btn-cuipasa-grey, .btn-cuipasa-grey i {
  background-color: $cuipasa-grey!important ;
  color:#616161!important ;
}

.logo {
  max-height:30px;
}
